name: Build

on: [push, pull_request]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - uses: ruby/setup-ruby@v1.180.0
      with:
        ruby-version: 3.3.3
    - name: Set up environment
      run: bundle install
    - name: Build
      run: bundle exec rake package
    - name: Show standalone packages
      run: ls pkg
    - name: Upload standalone packages
      uses: actions/upload-artifact@v3
      with:
        name: pkg
        path: pkg
  test:
    defaults:
      run:
        shell: ${{ matrix.shell }}
    needs: [build]
    strategy:
      fail-fast: false
      matrix:
        os: ["windows-latest","ubuntu-latest","macos-latest"]
        shell: ["sh","bash"]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - name: Download all workflow run artifacts
      uses: actions/download-artifact@v3
    - name: test ${{ matrix.os }} package
      run: ./script/unpack-and-test.sh
    - name: test x86 package
      if: ${{ runner.os == 'Windows'}}
      run: ./script/unpack-and-test.sh
      env: 
        BINARY_OS: 'windows'
        BINARY_ARCH: 'x86'
