name: Release

on:
  workflow_dispatch:
  repository_dispatch:
    types:
      - release-triggered
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '2.7'

    - name: Set up environment
      run: |
        git config --global user.email "${GITHUB_ACTOR}@users.noreply.github.com"
        git config --global user.name "${GITHUB_ACTOR}"
        git config --global push.default current
        bundler -v
        bundle install

    - name: Prepare release
      id: prepare
      run: script/prepare-release-in-github-workflow.sh
      env:
        INCREMENT: ${{ github.event.client_payload.increment }}

    - name: Create release
      uses: ncipollo/release-action@v1
      with:
        name: pact-${{ steps.prepare.outputs.version }}
        tag: ${{ steps.prepare.outputs.tag }}
        artifacts: pkg/*
        bodyFile: build/RELEASE_NOTES.md
        token: ${{ secrets.GITHUB_TOKEN }}
    outputs:
      version: ${{ steps.prepare.outputs.version }}
      increment: ${{ steps.prepare.outputs.increment }}