name: Update

on:
  repository_dispatch:
    types:
      - gem-released

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '2.7'

    - name: Set up environment
      run: |
        git config --global user.email "${GITHUB_ACTOR}@users.noreply.github.com"
        git config --global user.name "${GITHUB_ACTOR}"
        git config --global push.default current
        bundler -v
        bundle install

    - name: Update Gemfile
      run: script/update-in-github-workflow.sh
      env:
        RELEASED_GEM_NAME: ${{ github.event.client_payload.name }}
        RELEASED_GEM_VERSION: ${{ github.event.client_payload.version }}

    - name: Trigger release
      uses: peter-evans/repository-dispatch@v1
      with:
        token: ${{ secrets.GHTOKENFORRELEASEDISPATCH }}
        event-type: release-triggered
